@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    margin:0;
    background: #DCDCDC; /* changes the background of the entire website */
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

h3 {
    padding: 0.8rem;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
    -30px 0px 40px rgba(0, 0, 0, 0.3);
}

#landing {
    background: #fff;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background: url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 1000ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2 {
    border-left: 2px double #fff;
    border-right: 2px double #fff;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

.caption p {
    font-size: 1.1rem; /* changes the font-size of the descriptions */
}

#icon {
    text-decoration:none;
    color: #9A9A9A;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

/* screen sizes >= 500px */
@media (min-width: 500px){
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;/*TODO*/
    }

    #landing-image {
        height: 100vh;
    }
}
